 #main-header{
                background-color:rgb(2, 41, 25);
                color:#fff;
                font-size:x-large;
                padding-left:400px;
            }
            #navbar{
                color:#fff;
            }
            #navbar ul{
                padding:0;
                list-style-type: style none;
            }
            #navbar li{
                display:inline;
            }
            #navbar a{
                color:#ffff;
                Text-decoration:none;
                font-size:20px;
                padding-left:90px;
            }
            #navbar a:hover{
                color:red;
            }

        body{
            background-image:url('../images/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            }

            