h2{
  color:#fff;
}
body{
  background-image:url(../background.jpg)

}
pre{
  font-size:larger;
  color:darkgreen;
  font-family:Georgia, 'Times New Roman', Times, serif;
  list-style-type:decimal;
}
#one{
  color:aqua;
  font-size:20px;
}
#three{
  color:aqua;
  font-size:20px;
}