.my-form{
    padding: 20px;
}
my-form .form-group{
    padding-bottom: 15px;
}
h4{
    color:#fff;
}
        .my-form label{
    display:block;
}
.my-form input[type="text"], .my-form textarea{
    padding:8PX;
    height: 10px;
    width:15%;
}
        .button{
        background-color:#333;
        color:#fff;
        Padding:10px 15px;
        border:none;
    }
    body{
        background-image:url('../background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
    }
    li{
        color:rgb(6, 92, 3);
    }
    p{
        color:rgb(6, 92, 3);
    }